{% for project in projects %}
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">Название проекта: {{ project.name }}</h5>
            <a href="{% url 'project_view' project.pk %}" class="btn btn-primary">Подробнее</a>
            {% if perms.webapp.change_project %}
                <a href="{% url 'project_update' project.pk %}" class="btn btn-primary">Обновить</a>
            {% endif %}
            {% if perms.webapp.delete_project %}
                <a href="{% url 'project_delete' project.pk %}" class="btn btn-primary">Удалить</a>
            {% endif %}
        </div>
    </div>
{% endfor %}


