{% extends 'base.html' %}
{% block title %}
    Main page
{% endblock %}

{% block content %}
    <div class="main_page">
    <h1>To-Do List</h1>

        {% for task in tasks %}
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <p class="card-text">Статус: {{ task.status }}</p>
                    <p class="card-text"><p>Тип: {% for item in task.task_type.all %}{{ item.type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <a href="{% url 'task_view' task.pk %}" class="btn btn-primary">Подробнее</a>
                    <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Изменить</a>
                    <a href="{% url 'task_delete' task.pk %}" class="btn btn-primary">Удалить</a>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="new_task">
        <a href="{% url "task_create" %}" class="btn btn-primary btn-lg btn-block">Добавить новую задачу</a>
    </div>
{% endblock %}

