{% extends 'base.html' %}
{% block title %}
    Main page
{% endblock %}

{% block content %}
    <div class="main_page">
    <h1>To-Do List</h1>
        {% for task in tasks %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url "task_view" task.pk %}">Task description: {{ task.title }}</a></h5>
                    <h5 class="card-title">Task status: {{ task.get_status_display }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Task id: {{ task.pk }}</h6>
                    {% if task.completion_date == None %}
                        <h6 class="card-subtitle mb-2 text-muted">Completion date: Date missing</h6>
                    {% else %}
                        <h6 class="card-subtitle mb-2 text-muted">Completion date: {{ task.completion_date }}</h6>
                    {% endif %}
                </div>
            <p><a href="{% url 'task_view' task.pk %}">More...</a></p>
            <p><a href="{% url 'task_update' task.pk %}">Edit</a></p>
            <p><a href="{% url 'task_delete' task.pk %}">Delete</a></p>
            </div>
        {% endfor %}
    </div>
    <div class="new_task">
        <a href="{% url "task_create" %}" class="btn btn-info">Add new task</a>
    </div>
{% endblock %}
