{% extends 'base.html' %}
{% block title %}
    Main page
{% endblock %}

{% block content %}
    <div class="main_page">
    <h1>To-Do List</h1>
        <form action="{% url 'bulk_delete' %}" method="post">
        {% csrf_token %}
        {% for task in tasks %}
            <div class="card" style="width: 18rem; border-radius: 10px; background: #F5F5DC">
                <p><input style="width: 20px; height: 20px" type="checkbox" name="item" value="{{ task.pk }}">Mark for deletion</p>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url "task_view" task.pk %}">Task description: {{ task.title }}</a></h5>
                    <h5 class="card-title">Task status: {{ task.get_status_display }}</h5>
                </div>
            <p><a class="btn btn-info" style="margin: 0 auto" href="{% url 'task_view' task.pk %}">More...</a></p>
            <p><a class="btn btn-info" style="margin: 0 auto" href="{% url 'task_update' task.pk %}">Edit</a></p>
            <p><a class="btn btn-info" style="margin: 0 auto" href="{% url 'task_delete' task.pk %}">Delete</a></p>
            </div>
        {% endfor %}
        <p><input type="submit" class="btn btn-info" value="Delete marked"/></p>
        </form>
    </div>
    <div class="new_task">
        <a href="{% url "task_create" %}" class="btn btn-info">Add new task</a>
    </div>
{% endblock %}
