{% extends 'base.html' %}
{% block title %}Task{% endblock %}

{% block menu %}
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="title">Task View</h1>
    <div class="card text-center">
        <div class="card-header">
            <h4 class="card-title">{{ task.title }}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Описание: {{ task.description }}</p>
            <p class="card-text"><p>Статус: {{ task.status }}</p>
            <p class="card-text"><p>Тип: {{ task.type }}</p>
            <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Изменить</a>
            <a href="{% url 'task_delete' task.pk %}" class="btn btn-primary">Удалить</a>
            <a href="{% url 'index' %}" class="btn btn-primary" >На главную</a>
        </div>
        <div class="card-footer text-muted">
            Дата создания: {{ task.created_at }}
        </div>
    </div>
</div>
{% endblock %}