{% extends 'base.html' %}
{% block title %}Update task{% endblock %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'task_view' task.pk %}">Cancel</a>
    </li>
{% endblock %}

{% block content %}
    <div class="form">
        <h1>Update Task</h1>
        <form action="{% url "task_update"  task.pk %}" method="post">
            {% csrf_token %}

            {% include 'partial/form_field.html' with field=form.title %}
            {% include 'partial/form_field.html' with field=form.description %}
            {% include 'partial/form_field.html' with field=form.status %}
            {% include 'partial/form_field.html' with field=form.completion_date %}

            <input type="submit" class="btn btn-info" value="Update"/>
        </form>
    </div>
{% endblock %}