{% extends 'base.html' %}
{% block title %}
    Main page
{% endblock %}

{% block search %}
{% endblock %}


{% block content %}
    <div class="main_page">
        <h1 class="title">To-Do List</h1>

        {% for project in projects %}
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Название проекта: {{ project.name }}</h5>
                    <a href="{% url 'project_view' project.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="new_task">
        <a href="{% url "project_create" %}" class="btn btn-primary btn-lg btn-block">Добавить новый проект</a>
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}

