{% extends 'base.html' %}
{% block title %}
    Main page
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
    <div class="main_page">
        <h1 class="title">To-Do List</h1>
        {% include 'partial/project_list.html' %}
    </div>

    <div class="new_task">
        <a href="{% url "project_create" %}" class="btn btn-primary btn-lg btn-block">Добавить новый проект</a>
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}

