{% extends 'base.html' %}
{% block title %}Project{% endblock %}

{% block menu %}
    <li>
        <a href="{% url "task_create" project.pk %}" class="nav-link active">Добавить новую задачу</a>
    </li>
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="title">Project View</h1>
        <div class="card text-center">
            <div class="card-header">
                <h4 class="card-title">{{ project.name }}</h4>
            </div>
            <div class="users">
                <p>
                    Участники проекта: {% for item in project.user.all %}<b>{{ item.first_name }} {{ item.last_name }}</b>{% if not forloop.last %}, {% endif %}{% endfor %}
                </p>
            </div>
            <div class="card-body">
                <p class="card-text">Описание: {{ project.description }}</p>
                <a href="{% url 'index' %}" class="btn btn-primary" >На главную</a>
                <a href="{% url 'project_update' project.pk %}" class="btn btn-primary">Обновить</a>
                <a href="{% url 'project_delete' project.pk %}" class="btn btn-primary">Удалить</a>

                {% for task in tasks %}
                    <div class="task-card card w-100">
                        <div class="card-body">
                            <h5 class="card-title">Название задачи: {{ task.title }}</h5>
                            <p class="card-title">Описание задачи: {{ task.description }}</p>
                            <p class="card-text"><p>Тип: {% for item in task.task_type.all %}{{ item.type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                            <a href="{% url 'task_view' project.pk task.pk %}" class="btn btn-primary">Подробнее</a>
                            <a href="{% url 'task_update' project.pk task.pk %}" class="btn btn-primary">Изменить</a>
                            <a href="{% url 'task_delete' project.pk task.pk %}" class="btn btn-primary">Удалить</a>
                        </div>
                    </div>
                {% endfor %}

                <div class="new_task">
                    <a href="{% url "task_create" project.pk %}" class="btn btn-primary btn-lg btn-block">Добавить новую задачу</a>
                </div>

                {% if is_paginated %}
                    {% include 'partial/pagination.html' %}
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                Дата создания: {{ project.start_date }}{% if project.end_date %} | Дата завершения: {{ project.end_date }}{% endif %}
            </div>
        </div>
    </div>
{% endblock %}