{% extends 'base.html' %}
{% block title %}Project{% endblock %}

{% block auth_menu %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.add_task and request.user in project.user.all %}
            <a href="{% url "task_create" project.pk %}" class="nav-link active">Добавить новую задачу</a>
        {% endif %}
        <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:logout' %}">Выйти</a></li>
    {% else %}
        <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:login' %}">Войти</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:create' %}?next={{ request.get_full_path }}">Sign Up</a></li>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="title">Project View</h1>
        <div class="card text-center">
            <div class="card-header">
                <h4 class="card-title">{{ project.name }}</h4>
            </div>
            <div class="users">
                <p>Участники проекта: {% for item in project.user.all %}<b><a class="nav-link" href="{% url 'accounts:detail' request.user.pk %}">{{ item.first_name }} {{ item.last_name }}</a></b>{% endfor %}
                    {% if perms.webapp.can_change_group and request.user in project.user.all %}
                        <a href="{% url 'users_add' project.pk %}" class="btn btn-primary">Изменить состав</a>
                    {% endif %}
                </p>
            </div>
            <div class="card-body">
                <p class="card-text">Описание: {{ project.description }}</p>
                <a href="{% url 'index' %}" class="btn btn-primary" >На главную</a>
                {% if perms.webapp.change_project and request.user in project.user.all %}
                    <a href="{% url 'project_update' project.pk %}" class="btn btn-primary">Обновить</a>
                {% endif %}
                {% if perms.webapp.delete_project and request.user in project.user.all %}
                    <a href="{% url 'project_delete' project.pk %}" class="btn btn-primary">Удалить</a>
                {% endif %}
                {% for task in tasks %}
                    <div class="task-card card w-100">
                        <div class="card-body">
                            <h5 class="card-title">Название задачи: {{ task.title }}</h5>
                            <p class="card-title">Описание задачи: {{ task.description }}</p>
                            <p class="card-text"><p>Тип: {% for item in task.task_type.all %}{{ item.type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                            <a href="{% url 'task_view' project.pk task.pk %}" class="btn btn-primary">Подробнее</a>

                            {% if perms.webapp.change_task and request.user in project.user.all %}
                                <a href="{% url 'task_update' project.pk task.pk %}" class="btn btn-primary">Изменить</a>
                            {% endif %}

                            {% if perms.webapp.delete_task and request.user in project.user.all %}
                                <a href="{% url 'task_delete' project.pk task.pk %}" class="btn btn-primary">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="new_task">
                    {% if perms.webapp.add_task and request.user in project.user.all %}
                        <a href="{% url "task_create" project.pk %}" class="btn btn-primary btn-lg btn-block">Добавить новую задачу</a>
                    {% endif %}
                </div>

                {% if is_paginated %}
                    {% include 'partial/pagination.html' %}
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                Дата создания: {{ project.start_date }}{% if project.end_date %} | Дата завершения: {{ project.end_date }}{% endif %}
            </div>
        </div>
    </div>
{% endblock %}